/* Property Details Carousel Image */
.carousel-inner img {
    height: 500px;
    object-fit: cover;
}

/* Badge for Sale */
.badge-for-sale {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #007bff;
    color: white;
    padding: 10px;
    font-size: 18px;
}

/* Property Details Section */
.property-details {
    margin-top: 30px;
}

/* Amenities List */
.amenities ul {
    list-style-type: none;
    padding: 0;
}

    .amenities ul li {
        margin-bottom: 10px;
    }

/* Owner Details */
.owner-details img {
    width: 80px;
    border-radius: 50%;
}

.owner-details h5,
.owner-details span {
    margin-left: 15px;
}

/* Contact Owner Form */
.contact-owner-form {
    margin-top: 20px;
}
